.service-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .t-wrap {
        text-align: center;
        h2.tit {
            font-size: 6.6rem;
            color: var(--tertiary);
        }
        p.txt {
            font-size: 1.6rem;
            color: var(--tertiary);
        }
        
    }
}