.service-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .t-wrap {
        text-align: center;
        h2.tit {
            font-size: clamp(4rem, 6vw, 6.6rem);
            color: var(--tertiary);
        }
        p.txt {
            font-size: 1.6rem;
            color: var(--tertiary);

            @media screen and (max-width:900px){
                font-size: 1.4rem;
            }
            @media screen and (max-width:700px){
                font-size: 1.3rem;
            }
        }
        
    }
}